---
import HMLayout from '../layouts/HomePageLayout.astro';
---

<HMLayout title="WizK Landing"> 
    <div class="text-white font-mono m-0 p-4 border-2 rounded-3xl w-6/12 relative top-2/3 left-16">
        <h1 class="text-5xl font-extrabold">My name is <span class="text-red-500">William!</span></h1>
        <h2 class="text-4xl"><span class="type font-extrabold text-yellow-500"></span></h2>
        <p class="text-2xl font-normal">I am a 16 year old high school student who has a passion for <span class="text-red-500 font-semibold">technology and computer hardware.</span> 
            I enjoy coming up with <span class="text-yellow-500 font-semibold">fun ideas</span> that allow me to explore my different interests.
            This is the place where all personal <span class="text-red-500 font-semibold">projects and progress </span> will be shared!
        </p>
    </div >
</HMLayout>


<script type="text/javascript">
    var Typed = new Typed('.type', {
    strings:["Dreamer", "Innovator", "Team Player"],
    typeSpeed:150,
    backSpeed:150,
    backDelay:1000,
    loop:true
});
</script>

<script is:inline type="text/javascript">
	document.addEventListener("DOMContentLoaded", () => {
	const sideBar = document.getElementById("sideBar-toggle")
	const close = document.getElementById("closeB");
	const open = document.getElementById("openB");
	const toggleSideBar = (show) => {sideBar.style.display = show ? "flex" : "none";
	}

	close.addEventListener("click", ()=> toggleSideBar(false));
	open.addEventListener("click", ()=> toggleSideBar(true));
	})
	
</script>