---
import HMLayout from '../layouts/HomePageLayout.astro';
---

<HMLayout title="WizK Landing"> 
    <div class="text-white font-mono">
        <h1 class="text-5xl">My name is William!</h1>
         <h4 class="text-3xl">I'm<span class="typeTxt"></span></h4>
         <p>I am currently a 16 year old high school student who has a passion for technology and computer hardware. <br> 
            I enjoy coming up with fun ideas that I think will be useful in everyday life. <br>
            This is the place where I can share progress on all my projects!
        </p>
    </div >
</Layout>

<script>
    var Typed;
    Typed = new Typed({})
</script>
