---
import HMLayout from '../layouts/HomePageLayout.astro';
---

<HMLayout title="WizK Landing"> 
    <div class="text-white font-mono">
        <h1 class="text-5xl">My name is William!</h1>
         <h4>I'm<span class="typeTxt"></span></h4>
    </div >
    <script src="/wzkv2/src/scripts/main.js" ></script>
</Layout>


