---
import HMLayout from '../layouts/HomePageLayout.astro';
import HMHeader from '../components/NavBar.astro';
---

<HMLayout title="WizK Landing">
	<main >
		<HMHeader webTitle='WIZK' hrefAM='/pages/index/' hrefPF='/pages/portfolio/' hrefCM='mailto:wizktec@gmail.com'>

		</HMHeader>
	</main>
</Layout>


