---
import HMLayout from '../layouts/HomePageLayout.astro';
import HMHeader from '../components/Header.astro';
---

<HMLayout title="">
	<main>
		<HMHeader webTitle='WIZK' hrefAM='/pages/index/' hrefPF='/pages/portfolio/' hrefCM='mailto:wizktec@gmail.com'>

		</HMHeader>
	</main>
</Layout>


