---
interface Props {
	webTitle: string;
	hrefAM: string;
	hrefPF: string;
	hrefCM: string;
}

const { webTitle, hrefAM, hrefPF, hrefCM } = Astro.props;
---
<div class="bg-white fixed w-screen h-30 shadow-lg"> 
	<div class="text-black font-mono p-0 m-0">
		<nav class="justify-center" >
			<ul class="text-end pr-10">
				<li class="text-start pl-10 text-2xl">
					{webTitle}
				</li>
				<li> 
					<a href={hrefAM}>
						About Me
					</a>
				</li>
				<li> 
					<a href={hrefPF}>
						Portfolio
					</a>
				</li>
				<li> 
					<a href={hrefCM}>
						Contact Me
					</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
	
	
