---
import { ViewTransitions } from 'astro:transitions';


interface Props {
	hrefAM: string;
	hrefPF: string;
	hrefCM: string;
    
}

const { hrefAM, hrefPF, hrefCM } = Astro.props;
---
<div id="sideBar-toggle" style="display: none;" class=" bg-white backdrop-opacity-15 fixed top-0 right-0 h-screen w-1/6 flex-col items-start justify-start shadow-md shadow-black z-50"> 
		<nav class=" font-mono p-2 m-0">
                <ul class="text-start text-3xl m-0 p-5">
                    <li>
                        <button id="closeB" class="transition ease-in-out delay-75 hover:scale-105 hover:text-red-500" type="button"><svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 -960 960 960" width="30"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg> </button>
                    </li>
					<li class="transition ease-in-out delay-75 hover:scale-105 hover:text-red-500"> 
						<a href={hrefAM} data-astro-prefetch="tap">
							About Me
						</a>
					</li>
					<li class="transition ease-in-out delay-75 hover:text-red-500 hover:scale-105"> 
						<a href={hrefPF} data-astro-prefetch>
							Portfolio
						</a>
					</li>
					<li class="transition ease-in-out delay-75 hover:text-red-500 hover:scale-105"> 
						<a href={hrefCM} data-astro-prefetch="tap">
							Contact
						</a>
					</li>
			</ul>
		</nav>
</div>
	
